
<div class="container my-5">
    <h1>Welcome to Student Management System</h1>
    <p>This system allows you to manage student records, instructors, and grades.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Students</h5>
                    <p class="card-text">Add, edit, and delete student records.</p>
                    <a href="#" class="btn btn-warning">Go to Students</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">Manage Courses</h5>
                    <p class="card-text">Add, edit, and delete courses.</p>
                    <a href="#" class="btn btn-warning">Go to Courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Grades</h5>
                    <p class="card-text">Record and compute student grades.</p>
                    <a href="#" class="btn btn-warning ">Go to Grades</a>
                </div>
            </div>
        </div>
    </div>
</div>
 