
@model  List<Instructor>  

    <a href="/instructor/"></a>
<hr />

<a href="/Instructor/Add">Add New Instructor</a>

@* 
<div> Add new Instructor</div> 
<form method="post" action="Instructor/Add">

    <input / asp-for="Name" type="text">
    <input / asp-for="Image"  type ="text" />
    <input / asp-for="Address"type ="text" />
    <input / asp-for="Salary" type ="text">

    <input / type="submit" value="Add">
    
</form> *@